body {
    background-color:#ced0ce;
    min-height:100vh;
    text-align:center;
}
.banner{
    font-size:35px;
    text-transform:uppercase;
    color:#F15025;
    margin:25px 0 50px 0;
}
.message{
    height:150px;
    width:75%;
    padding:20px 20px;
    margin:20px auto 40px auto;
    background-color:#fff;
    text-align:left;
    text-transform:capitalize;
}
.text{
    width:75%;
    padding:40px 20px;
    margin:0 auto;
    display:block;
    font-size:30px;
}
.btn{
    padding:10px 15px;
    margin:40px 10px;
    font-size:25px;
    color:#191716;
    background-color:#F15025;
}
.btn:hover{
    color:#F15025;
    background-color:#191716;
}